<div class="overflow-auto " style="height: 30rem">
  <div id="js-comments-list">
    <% comments.each do |comment| %>
      <%= render 'comments/comment', {gift: gift, comment: comment} %>
    <% end %>
  </div>
</div>
