<ul class="list-unstyled">
  <ul class="notifications_list list-unstyled text-center list-group bg-light-brown">
    <% if notifications.blank? %>
      <li class="list-group-item bg-light-brown" >通知はありません</li>
    <% else %>
      <% notifications.each do |notification| %>
        <li class="list-group-item bg-light-brown border-white border-0 border-bottom"><%= link_to notification.event.notification_message(notification.event), notification_path(id: notification.id), method: :put, class:"white text-decoration-none"%></li>
      <% end %>
    <% end %>
  </ul>
</ul>
