<div class="row g-0 mt-5">
  <div class="col-6 offset-3 d-flex flex-column align-items-center justify-content-center">
    <% if user.avatar.present? %>
      <%= image_tag user.avatar.url, class:'border rounded-circle', size: '150x150' %>
    <% else %>
      <%= image_tag 'avatar_default_image.png', class:'border rounded-circle', size: '150x150'%>
    <% end %>
    <div class="fs-4 pt-3">
      <%=user.name%>
    </div>
    <div class="mb-5">
      <%=user.email%>
    </div>
  </div>
</div>
