<% if @user.avatar.present? %>
  <%= image_tag @user.avatar %>
<% else %>
  <%= image_tag 'avatar_default_image.png', size: '100x100'%>
<% end %>
<ul class="list list-group">
  <li class="list-group-item"><%=@user.name%></li>
  <li class="list-group-item"><%=@user.email%></li>
</ul>
