<div class="container m-5 px-5">
  <h1 class='light-brown mb-5'><%= page_title %></h1>
  <table class="table table-hover align-middle text-center brown border-bottom-brown">
    <thead>
      <tr>
        <th scope="col" style="width: 20%">画像</th>
        <th scope="col" style="width: 20%">タイトル</th>
        <th scope="col" style="width: 20%">説明文</th>
        <th scope="col" style="width: 20%">ステータス</th>
        <th scope="col" style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <% gifts.each do |gift| %>
        <%= render 'mypages/row', { gift: gift } %>
      <% end %>
    </tbody>
  </table>
</div>
