<div class="row gx-0">
  <div class="col-3">
    <%= render 'sidebar'%>
  </div>
  <div class="col-9">
    <div id="main">
      <br>
      <br>
      <br>
      <%= render 'users/user_detail', user: @current_user %>
    </div>
  </div>
</div>
<%# 高さを調整するためのjs %>
<%= javascript_pack_tag 'mypages/top' %>
