// @import "bootstrap-sprockets";
// @import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.bg-brown {
  background-color: #806D5C; 
}

.white{
  color:white;
}

.font-light-brown{
  color:#D3B69C;
}


.btn-outline-wine-red {
  border: 3px solid #9C343B;
  color: #9C343B
}

.btn-wine-red {
  color:white;
  background: #9C343B;
}
